.home {
    height: 100%;
    &:before {
        background-image: url('../images/mobile/header-bg@1x.png');
    }

    @include respond-to(320) {
        &:before {
            background-image: url('../images/mobile/header-bg@2x.png');
        }
    }


    &__wrapper {
        padding-top: 200px;
        padding-bottom: 130px;
        position: relative;

        @include respond-to(320) {
            padding-top: 190px;
            padding-bottom: 102px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 46px;
        color: #fff;

        @include respond-to(320) {
            margin-bottom: 40px;
        }
    }


    &__image {
        width: 438px;
        height: auto;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;

        @include respond-to(320) {
            width: 290px;
            margin-bottom: 40px;
        }
    }

    &__text {
        max-width: 854px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 56px;
        
        @include respond-to(320) {
            font-size: 13px;
            line-height: 22px;
        }
    }
}