.usage {
    &__wrapper {
        padding-top: 222px;
        padding-bottom: 204px;

        @include respond-to(320) {
            padding-top: 100px;
            padding-bottom: 72px;
            flex-direction: column-reverse;
        }
    }

    &__text{
        max-width: 586px;
    }

    &__list{
        margin-top: 60px;
    }

    &__picture{
        @include respond-to(320) {
            margin-bottom: 56px;
        }
    }

    &__item{
        margin-bottom: 48px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__item-image{
        margin-right: 48px;
    }

    &__item-text{
        font-size: 18px;
        line-height: 24px;
    }

}