.mobile-menu {
    max-width: 340px;
    width: 100%;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 32px;
    z-index: 11;
    border-radius: 16px;
    cursor: pointer;

    &__list{
        list-style: none;
    }

    &__item{
        display: block;
        border-bottom: 1px solid rgba(159, 180, 206, 0.3);

        &:last-child{
            border: none;
        }
    }

    &__link {
        font-size: 15px;
        line-height: 24px;
        color: #1C4F94;
        padding: 28px;
        display: block;
        text-align: center;
    }
}