// Default
// ---------------------------------
$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Text colors
// ---------------------------------
$color-text-primary:              #1C4F94;
$color-text-secondary:            #FFFFFF;

// Background colors
//---------------------------------
$color-bg-primary:              #F4F6FD;
$color-bg-secondary:                linear-gradient(282.85deg, #732097 -8.25%, #2876F1 106.47%);

// Fonts
//---------------------------------
$font-family--sf:            "SF Pro Display", "Arial", sans-serif;
$font-family--geo: 		  "Giometria", "Arial", sans-serif;

// Animation
//---------------------------------
$default-transition-settings:     0.3s ease;

// Viewports
//---------------------------------
$viewport--sm:                    320px;
$viewport--md:                    768px;
$viewport--lg:                    1024px;
$viewport--xl:                    1280px;
$viewport--xxl:                   1920px;

// Retina
//---------------------------------
$retina-dpi:                      144dpi;
$retina-dppx:                     1.5dppx;
