.form {
    padding-top: 52px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    margin-bottom: 46px;
    position: relative;

    @include respond-to(320) {
        padding-top: 36px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
        margin-bottom: 24px;
    }

    &__field {
        position: relative;
        margin-bottom: 36px;

        @include respond-to(320) {
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
        }
        
    }

    &__input {
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 15px;
        padding: 20px;
        font-size: 18px;
        line-height: 1.24;

        &:focus-visible,
        &:focus {
            outline: none;
        }

        &.error{
            border-color: #FF0000;
        }

        @include respond-to(320) {
            padding: 14px;
            font-size: 12px;
            border-radius: 10px;
        }
    }

    &__field-label {
        font-size: 16px;
        line-height: 24px;
        padding: 5px;
        color: rgba(0, 0, 0, 0.4);
        position: absolute;
        background-color: #fff;
        top: -15px;
        left: 15px;

        @include respond-to(320) {
            font-size: 12px;
        }
    }


    &__checkbox-input {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        position: absolute;
    }

    &__checkbox-input+&__checkbox-check {
        width: 32px;
        height: 32px;
        border: 2px solid #1c83ff;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto;
        margin-right: 24px;

        @include respond-to(320) {
            min-width: 22px;
            width: 22px;
            height: 22px;
            margin-right: 16px;
        }
    }

    &__checkbox {
        width: 100%;
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;

        font-size: 16px;
        line-height: 24px;
        color: #333333;

        @include respond-to(320) {
            font-size: 10px;
            line-height: 16px;
        }
    }

    &__checkbox-input:checked+&__checkbox-check {
        border-color: #1C83FF;
        background-color: #1C83FF;
        background-image: url("../images/icons/check.svg");
    }

    &__button {
        padding: 20px 16px;
        font-family: 'Geometria';
        font-size: 18px;
        line-height: 23px;
        color: #fff;
        width: 100%;
        background: linear-gradient(0deg, #1C83FF, #1C83FF), #1C83FF;
        border-radius: 15px;

        @include respond-to(320) {
            font-size: 14px;
            line-height: 16px;
            padding: 16px;
        }
    }

}